.contenedor__navbar{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar{
    border-radius: 2rem;
    width: 1000px;
    height: 80px;
    border: 2px solid black;
    background-color: #7aa88dd2;
    filter: drop-shadow(4px 5px 2px black);
}
.navbar__links{
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-around;
    filter: drop-shadow(4px 5px 2px rgb(0, 0, 0));
}
.titulo{
    background-color: #97DBAE;
    color: black;
    font-weight: 1000;
    border: 1px black solid;
    border-radius: 1rem;
    padding: 1rem;
}
.contenedor__navbar img{
    width: 70px;
    height: 70px;

}
.contenedor__navbar nav ul img{
    margin-top: -20px;
    width: 300px;
    border-radius: 1rem;
}
